[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {version = "*", index = "https://pypi.mirrors.ustc.edu.cn"}

[dev-packages]

[requires]
python_version = "3.8"
